Options -MultiViews
RewriteEngine On

# If the request is not a real file
RewriteCond %{REQUEST_FILENAME} !-f
# If the request is not a real directory
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite everything else to index.html
RewriteRule ^ /index.html [L]
